@page "/"
@namespace SampleSite.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sample Site</title>
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/SampleSite.Components/css/site.css" rel="stylesheet" />
    <link href="_content/SampleSite.Components/css/site-custom.css" rel="stylesheet" />
    <link href="_content/SampleSite.Components/css/hot-keys-cheat-sheet.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(SampleSite.Components.App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/SampleSite.Components/helper.js"></script>
</body>
</html>
