.hot-keys-cheat-sheet .key {
    border: solid 1px #fff;
    border-radius: 4px;
    width: 28px;
    display: inline-block;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin-top: 7px;
    color: #fff;
    background-color: #888;
}

.popup-container {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility linear 0.2s, opacity linear 0.2s;
}

    .popup-container.visible {
        visibility: visible;
        opacity: 1;
    }

    .popup-container .hot-keys-cheat-sheet {
        display: inline-block;
        box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    }

.hot-keys-cheat-sheet input {
    font-family: consolas, monospace;
}
