@page "/counter"
@implements IDisposable
@inject HotKeys HotKeys

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private HotKeysContext HotKeysContext;

    protected override void OnInitialized()
    {
        this.HotKeysContext = this.HotKeys.CreateContext()
            .Add(ModKeys.None, Keys.U, () => this.IncrementCount());
    }

    private void IncrementCount()
    {
        currentCount++;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.HotKeysContext?.Dispose();
    }
}
