@page "/"
@implements IDisposable
@inject HotKeys HotKeys

<h1>@Greeting</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private const string GreetingA = "Hello, world!";
    private const string GreetingB = "Hi, there!";
    private const string GreetingC = "How's it going?";

    private string Greeting = GreetingA;

    private HotKeysContext HotKeysContext;

    protected override void OnInitialized()
    {
        this.HotKeysContext = this.HotKeys.CreateContext()
            .Add(ModKeys.None, Keys.G, OnHotKey)
        .AddByKey(ModKeys.None, "@", OnHotKey);
    }

    private void OnHotKey(HotKeyEntry hotKeyEntry)
    {
        this.Greeting =
            this.Greeting == GreetingA ? GreetingB :
            this.Greeting == GreetingB ? GreetingC :
            GreetingA;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.HotKeysContext?.Dispose();
    }
}