@page "/test/exclude-contenteditable"

<h1>Test - Exclude Content Editable</h1>

<div id="editor-area" contenteditable style="padding:12px; border:solid 1px #ccc; border-radius:6px;">
    In this area, you can edit content, and hotkeys are available but except "H" key.
</div>
