@page "/test/bykeyname"
@implements IDisposable
@inject HotKeys HotKeys

<h1>Test by Key Name</h1>

<p>This page captures media keys (next/prev/pause) by key name string.</p>

<EnteredKeyList @ref="EnteredKeyList" />

@code{
    private EnteredKeyList EnteredKeyList;

    private HotKeysContext HotKeysContext;

    protected override void OnInitialized()
    {
        this.HotKeysContext = this.HotKeys.CreateContext()
            .Add(ModKeys.None, "MediaTrackNext", OnHotKey)
            .Add(ModKeys.None, "MediaTrackPrevious", OnHotKey)
            .Add(ModKeys.None, "MediaPlayPause", OnHotKey);
    }

    private void OnHotKey(HotKeyEntry hotKeyEntry)
    {
        EnteredKeyList.OnEnteredKey(hotKeyEntry);
    }

    public void Dispose()
    {
        this.HotKeysContext?.Dispose();
    }

}