@page "/"
@implements IDisposable
@using Toolbelt.Blazor.HotKeys
@inject HotKeys HotKeys
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

<p>HotKeys</p>
<ul>
    @foreach (var key in this.HotKeysContext.Keys)
    {
        <li>@key</li>
    }
</ul>

<p>
    <input type="text" name="name" value="" />
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    HotKeysContext HotKeysContext;

    protected override void OnInitialized()
    {
        HotKeysContext = HotKeys.CreateContext()
            .Add(ModKeys.None, Keys.F12, DoFetchData, "lorem ipsum.")
            .Add(ModKeys.Ctrl | ModKeys.Shift, Keys.A, DoFetchData, "manble funble.", AllowIn.Input | AllowIn.TextArea);
    }

    public async Task DoFetchData(HotKeyEntry hotKeyEntry)
    {
        await JSRuntime.InvokeAsync<object>("alert", $"DO-FETCHDATA: Key is: {hotKeyEntry.Key}");
        Console.WriteLine("[DO-FETCHDATA]");
    }

    public void Dispose()
    {
        HotKeysContext.Dispose();
    }
}