@page "/"
@implements IDisposable
@using Toolbelt.Blazor.HotKeys

<h1>Hello, world!</h1>

Welcome to your new app.

<P>
    <input type="text" name="name" value="" />
</P>

<SurveyPrompt Title="How is Blazor working for you?" />

@functions { 

    HotKeysContext HotKeysContext;

    protected override void OnInit()
    {
        HotKeysContext = new HotKeysContext()
            .AddHotKey(ModKeys.None, Keys.F12, DoFetchData, allowIn: AllowIn.Input | AllowIn.TextArea);
    }

    public async Task DoFetchData(HotKeyEntry hotKeyEntry)
    {
        await JSRuntime.Current.InvokeAsync<object>("alert", $"DO-FETCHDATA: Key is: {hotKeyEntry.Key}");
        Console.WriteLine("[DO-FETCHDATA]");
    }

    public void Dispose()
    {
        HotKeysContext.Dispose();
    }
}