@inherits LayoutComponentBase
@implements IDisposable
@inject HotKeys HotKeys
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/jsakamoto/Toolbelt.Blazor.HotKeys" target="_blank" class="ml-md-auto about-link">About Blazor HotKeys</a>
        </div>

        <div class="content px-4">
            <div>
                @Body
            </div>

            <div class="hot-keys-cheat-sheet alert alert-secondary mt-4">
                <span class="key">?</span> ... <span class="description">Open the Hot keys cheat sheet.</span>
            </div>

            <div class="popup-container @(this.HotKeysCheatSheetVisible ? "visible" : "")" @onclick="@(()=> this.SetHotkeysCheatSheetVisible(false))">

                <CheatSheet HotKeysContext="this.HotKeysContext" />

            </div>
        </div>
    </div>
</div>

@code
{
    private HotKeysContext HotKeysContext;

    private DateTime LastCtrlKeyPressed = DateTime.MinValue;

    private bool HotKeysCheatSheetVisible = false;

    protected override void OnInitialized()
    {
        HotKeysContext = HotKeys.CreateContext()
        .Add(ModKeys.Shift, Keys.Slash, _ => SetHotkeysCheatSheetVisible(!this.HotKeysCheatSheetVisible), "", Exclude.InputNonText | Exclude.TextArea) // Open/Close the Hot keys cheat sheet.
        .Add(ModKeys.None, Keys.ESC, _ => SetHotkeysCheatSheetVisible(false), "", Exclude.InputNonText | Exclude.TextArea) // Close the Hot keys cheat sheet.
        .Add(ModKeys.None, Keys.H, _ => GoTo("/"), "Go to Home page.", Exclude.TextArea | Exclude.ContentEditable)
        .Add(ModKeys.None, Keys.C, _ => GoTo("/counter"), "Go to Counter page.", Exclude.InputText | Exclude.TextArea)
        .Add(ModKeys.None, Keys.F, _ => GoTo("/fetchdata"), "Go to Fetch data page.")
        .Add(ModKeys.None, Keys.Ctrl, OnCtrlKeyDown, "Double tap to go to Home.");
    }

    private Task GoTo(string url)
    {
        var urlToNavigate = NavigationManager.BaseUri.TrimEnd('/') + "/" + url.TrimStart('/');
        NavigationManager.NavigateTo(urlToNavigate);
        return Task.CompletedTask;
    }

    private void OnCtrlKeyDown()
    {
        var lastCtrlKeyPressed = this.LastCtrlKeyPressed;
        this.LastCtrlKeyPressed = DateTime.Now;

        if ((DateTime.Now - lastCtrlKeyPressed).TotalMilliseconds <= 200)
        {
            this.GoTo("/");
        }
    }

    private void SetHotkeysCheatSheetVisible(bool visible)
    {
        if (this.HotKeysCheatSheetVisible == visible) return;
        this.HotKeysCheatSheetVisible = visible;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        HotKeysContext?.Dispose();
    }
}
