@inherits LayoutComponentBase
@implements IDisposable
@inject HotKeys HotKeys
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/jsakamoto/Toolbelt.Blazor.HotKeys" target="_blank" class="ml-md-auto about-link">About Blazor HotKeys</a>
        </div>

        <div class="content px-4">
            <div>
                @Body
            </div>

            <div class="hot-keys-cheat-sheet alert alert-secondary mt-4">
                <span class="key">?</span> ... <span class="description">Open the Hot keys cheat sheet.</span>
            </div>

            <div class="popup-container @(this.HotKeysCheatSheetVisible ? "visible" : "")" @onclick="@(()=> this.SetHotkeysCheatSheetVisible(false))">
                <div class="pop-item hot-keys-cheat-sheet alert alert-secondary mt-4" @onclick:stopPropagation>
                    <div><strong>Hot keys cheat sheet</strong></div>
                    <ul>
                        @foreach (var key in this.HotKeysContext.Keys.Where(k => !string.IsNullOrEmpty(k.Description)))
                        {
                            <li>
                                <span class="key">@key.ToString("{0}")</span> ... <span class="description">@key.ToString("{1}")</span>
                            </li>
                        }
                        <li>
                            <span class="key">U</span> ... <span class="description">("Counter" page only) Increment counter.</span>
                        </li>
                    </ul>
                    <p>The hot key <span class="key">H</span> will work even if input element has focus.</p>
                    <p>
                        * Input element for the hot key <span class="key">H</span>: <input type="text" value="" class="form-control-sm" />
                    </p>
                    <p>The hot key <span class="key">C</span> will work when a non-text input element, like a checkbox or radio, has focus.</p>
                    <p>
                        * Input element for the hot key <span class="key">C</span>: <input type="checkbox" value="" class="form-control-sm" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private HotKeysContext HotKeysContext;

    private DateTime LastCtrlKeyPressed = DateTime.MinValue;

    private bool HotKeysCheatSheetVisible = false;

    protected override void OnInitialized()
    {
        HotKeysContext = HotKeys.CreateContext()
        .Add(ModKeys.Shift, Keys.Slash, _ => SetHotkeysCheatSheetVisible(!this.HotKeysCheatSheetVisible), "", AllowIn.Input) // Open/Close the Hot keys cheat sheet.
        .Add(ModKeys.None, Keys.ESC, _ => SetHotkeysCheatSheetVisible(false), "", AllowIn.Input) // Close the Hot keys cheat sheet.
        .Add(ModKeys.None, Keys.H, _ => GoTo("/"), "Go to Home page.", AllowIn.Input)
        .Add(ModKeys.None, Keys.C, _ => GoTo("/counter"), "Go to Counter page.", AllowIn.NonTextInput)
        .Add(ModKeys.None, Keys.F, _ => GoTo("/fetchdata"), "Go to Fetch data page.")
        .Add(ModKeys.None, Keys.Ctrl, OnCtrlKeyDown, "Double tap to go to Home.");
    }

    private Task GoTo(string url)
    {
        var urlToNavigate = NavigationManager.BaseUri.TrimEnd('/') + "/" + url.TrimStart('/');
        NavigationManager.NavigateTo(urlToNavigate);
        return Task.CompletedTask;
    }

    private void OnCtrlKeyDown()
    {
        var lastCtrlKeyPressed = this.LastCtrlKeyPressed;
        this.LastCtrlKeyPressed = DateTime.Now;

        if ((DateTime.Now - lastCtrlKeyPressed).TotalMilliseconds <= 200)
        {
            this.GoTo("/");
        }
    }

    private void SetHotkeysCheatSheetVisible(bool visible)
    {
        if (this.HotKeysCheatSheetVisible == visible) return;
        this.HotKeysCheatSheetVisible = visible;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        HotKeysContext?.Dispose();
    }
}
